<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default">
    <div class="pull-right">
        <a href="logout" class="btn btn-danger" style="margin: 10px;">logout: {{user}}</a>
    </div>
</div>
<div class="container">
    <a href="users">Show Users</a>
</div>
<script src="{% static 'js/query.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>